<div *ngIf="res">
  <div class="content-header">
    <h2 class="header-text">FAQs</h2>
  </div>
  <mat-expansion-panel expanded="true" *ngFor="let item of res">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{item.question}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-grid-list cols="1">
      <a [innerHTML]="item.answer"></a>
    </mat-grid-list>
  </mat-expansion-panel>
</div>