.content-img {
  height: 112px;
  width: 112px;
}

.item-container {
  padding: 8px;
  display: flex;
  background: url("../../assets/images/bg_album_item.png");
}

.item-img {
  height: 85px;
  width: 85px;
}

.rating-container {
  display: flex;
  align-items: center;
}

.download-button {
  height: fit-content;
  margin-right: 8px;
  color: white;
  background: cornflowerblue;
  border: none;
  padding: 8px;
  border-radius: 4px;
}
