<div *ngIf="res">
  <div class="content-header">
    <h2 class="header-text">{{category_name}}</h2>
  </div>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        All Categories
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-grid-list cols="3" rowHeight="130px">
      <mat-grid-tile *ngFor="let item of res?.categories" (click)="openCategory(item)">
        <img class="content-img" [src]="item.image">
        <h3 class="content-name">{{item.name}}</h3>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-expansion-panel>
</div>