.item-info-container {
  display: flex;
}

.content-img {
  height: 112px;
  width: 112px;
}

.content-name {
  margin: 0;
}
.content-provider {
  margin: 0;
}

.rating-container {
  display: flex;
}

.category-banner {
  width: 100%;
  margin: 5px 0px;
}

.item-img-single {
  margin: 8px;
}
.rating-container {
  display: flex;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 8px;
  align-items: center;
}
.download-button {
  height: fit-content;
  margin-right: 8px;
  color: white;
  background: cornflowerblue;
  border: none;
  padding: 8px;
  border-radius: 4px;
}

.info-label {
  font-size: 14px;
  margin-top: 7px;
  font-weight: bold;
  text-transform: uppercase;
  color: #455560;
  margin-bottom: auto;
}
.info-desc {
  font-size: 13px;
  color: #455560;
  word-wrap: break-word;
  margin-right: 8px;
  margin-bottom: 10px;
}
/* .carousel-inner {
  height: 100%;
}
.carousel-img {
  width: 125px;
  height: 125px;
}
.carousel {
  height: 182px;
  padding-bottom: 10px;
}
ol.carousel-indicators.ng-star-inserted {
  display: none;
}
.carousel-control-prev,
.carousel-control-next {
  display: none;
}
.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
} */
