<div *ngIf="res">
  <div class="content-header">
    <h2 class="header-text">{{res.name}}</h2>
  </div>
  <div class="item-info-container">
    <img class="content-img item-img-single" [src]="res.image">
    <div style="width: 100%;">
      <div class="button-container">
        <div>
          <h5 style="margin: auto;">{{res.name}}</h5>
          <div class="rating-container">
            <star-rating [value]="res.rating" totalstars="5" checkedcolor="#d4af37" uncheckedcolor="grey" size="14px"
              readonly="true"></star-rating>
            <h6 style="margin: 0;">({{res.rating}})</h6>
          </div>
        </div>
        <div style="display: flex;flex-flow: column;">
          <button class="download-button" (click)="downloadItem()">{{downloadButtonText}}</button>
          <button *ngIf="res.downloaded" class="download-button" style="margin-top: 10px;"
            (click)="rate()">Rate</button>
        </div>
      </div>
      <h5 style="margin: auto;">{{res.provider}}</h5>
      <div style="display: flex;">
        <div style="width: 50%;">
          <h4 class="info-label">UPDATED</h4>
          <h6 style="margin: auto;">{{res.updated_on | date:'dd.MM.yyyy'}}</h6>
        </div>
        <div>
          <h4 class="info-label">SIZE</h4>
          <h6 style="margin: auto;">{{res.size}}</h6>
        </div>
      </div>
      <div>
        <h4 class="info-label">CURRENT VERSION</h4>
        <h6 style="margin: auto;">{{res.version}}</h6>
      </div>
      <div class="info-desc">{{res.description}}</div>
    </div>
  </div>
  <div class="slides" *ngIf="res.screenshots.length>0">
    <div class="slideshow-container">
      <div *ngFor="let item of res?.screenshots; let i=index" class="mySlides fade">
        <div class="numbertext">{{i+1}} / {{res?.screenshots.length}}</div>
        <img class="image" [src]="item">
      </div>
      <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
      <a class="next" (click)="plusSlides(1)">&#10095;</a>
    </div>
    <br>
  </div>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        All Categories
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-grid-list cols="3" rowHeight="130px">
      <mat-grid-tile *ngFor="let item of res?.categories" (click)="openCategory(item)">
        <img class="content-img" [src]="item.image">
        <h3 class="content-name">{{item.name}}</h3>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-expansion-panel>
</div>