.footer {
  background-color: #786f68;
}

.container {
  padding: 16px;
}

.login-heading {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}
.country-code-text {
  width: 12%;
}

.login-text {
  margin: 0;
  padding: 2px;
  height: 40px;
  padding: 6px;
  border: 1px solid #ccc;
}

.msisdn-text {
  width: 80%;
}
.password-text {
  width: 96%;
  margin: 10px 0px;
  border: 1px solid #ccc;
}

.login-button {
  width: 100%;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  color: white;
  background-color: #11b2e6;
  border: 1px solid #11b2e6;
}
.button-container {
  margin-top: 10px;
}
.subscribe {
  width: 40%;
  margin-right: 6px;
}

.forgot {
  width: 58%;
}

.alert-container {
  display: block;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  padding: 15px;
  margin-bottom: 15px;
}

.alert-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}
.back-button {
  margin-left: calc(50% - (60px / 2));
  width: 60px;
}
