<div [ngSwitch]="content_type">
  <form *ngSwitchCase="'login'" class="container" [formGroup]="loginForm">
    <h5 class="login-heading">Login</h5>
    <div>
      <input type=text class="country-code-text login-text" formControlName="countrycode" disabled>
      <input type="number" class="msisdn-text login-text" placeholder="Phone Number" formControlName="msisdn">
    </div>
    <input type="password" formControlName="password" class="password-text login-text" placeholder="Password">
    <button class="login-button" (click)="login()">Login</button>
    <div class="button-container">
      <button class="login-button subscribe" (click)="subscribe()">Subscribe</button>
      <button class="login-button forgot" (click)="forgotPassword()">Forgot Password?</button>
    </div>
  </form>
  <div *ngSwitchCase="'subscribe'" class="container">
    <h5 class="login-heading">Subscribe</h5>
    <div class="alert-container"><span class="alert-text">{{subscribe_message}}</span></div>
    <button type="button" (click)="back()" class="btn-primary back-button">Back</button>
  </div>
  <div *ngSwitchCase="'forgot_password'" class="container">
    <h5 class="login-heading">Forgot Password ?</h5>
    <div class="alert-container"><span class="alert-text">{{forgot_password_message}}</span></div>
    <button type="button" (click)="back()" class="btn-primary back-button">Back</button>
  </div>
</div>
<footer class="footer">
  <img src="../../assets/images/footer_Logo.png">
</footer>