.header-img {
  width: 100%;
}

mat-drawer-container {
  height: 100%;
  background-color: #e6e6e6;
}
mat-toolbar {
  height: 33px;
  padding: 7px 4px;
  background-color: #e6e6e6;
}
.mat-icon-button {
  margin-right: 2px;
}
.span-text {
  font-size: 30px;
}
mat-drawer {
  width: 50%;
  position: fixed;
  background-color: #11b2e6;
}

mat-nav-list {
  margin-top: 40px;
}

.drawer-close-icon {
  position: absolute;
  right: 0;
}

.search-button {
  width: 32px;
  height: 33px;
  padding-top: 8px;
  background-image: url(../assets/images/btn_magnifier.gif);
  position: absolute;
  right: 4px;
  border: none;
}

.search-box {
  width: 100%;
  height: 29px;
  margin-left: 4px;
}
div[mat-list-item] {
  display: flex;
  align-items: center;
  margin: 20px;
}

.nav-item-text {
  color: white;
  margin-left: 5px;
}
