<header>
    <img class="header-img" src="../assets/images/header.jpg">
</header>

<mat-toolbar *ngIf="!isLoginPage">
    <button mat-icon-button (click)="sidenav.toggle()">
        <span class="span-text">Ξ </span>
    </button>
    <input [(ngModel)]="searchString" type="text" class="search-box">
    <button type="button" class="search-button" (click)="search()"></button>
</mat-toolbar>
<mat-drawer-container autosize>
    <mat-drawer #sidenav [mode]="'side'">
        <mat-icon class="drawer-close-icon" (click)="closeDrawer()">close</mat-icon>
        <mat-nav-list>
            <div mat-list-item (click)="closeDrawer()">
                <mat-icon>home</mat-icon>
                <a class="nav-item-text" routerLink="home">Home</a>
            </div>
            <div mat-list-item (click)="closeDrawer()">
                <mat-icon>reorder</mat-icon>
                <a class="nav-item-text" routerLink="categories">Categories</a>
            </div>
            <div mat-list-item (click)="closeDrawer()">
                <mat-icon>person</mat-icon>
                <a class="nav-item-text" routerLink="my-account">My Account</a>
            </div>
            <div mat-list-item (click)="closeDrawer()">
                <mat-icon>help</mat-icon>
                <a class="nav-item-text" routerLink="faq">FAQ</a>
            </div>
            <div mat-list-item (click)="closeDrawer()">
                <mat-icon>file_copy</mat-icon>
                <a class="nav-item-text" routerLink="terms">Terms & Conditions</a>
            </div>
            <div mat-list-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <a class="nav-item-text">Logout</a>
            </div>
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet (activate)="onActivate($event)"></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
<footer class="footer">
    <img src="../../assets/images/footer_Logo.png">
</footer>