.dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100%;
}
h4 {
  color: white;
  font-weight: 500;
  margin-bottom: 10px;
}

.done-button {
  height: fit-content;
  margin-right: 8px;
  color: white;
  background: cornflowerblue;
  border: none;
  padding: 8px;
  border-radius: 4px;
  margin-top: 10px;
}

.close-button {
  position: absolute;
  right: 12vw;
  color: white;
}

.message {
  margin: 15px;
  text-align: center;
  color: white;
}
