<div style="height: 100%;">
  <mat-icon class="close-button" (click)="close()">close</mat-icon>
  <div *ngIf="dialog_type=='rating'" class="dialog-container">
    <h4>Rate the Item:</h4>
    <star-rating [value]="rating" totalstars="5" checkedcolor="#d4af37" uncheckedcolor="lightgrey" size="24px"
      readonly="false" (rate)="onRate($event)">
    </star-rating>
    <button class="done-button" (click)="done()">Done</button>
  </div>
  <div *ngIf="dialog_type!='rating'" class="dialog-container">
    <p class="message">{{message}}</p>
    <button class="done-button" (click)="close()">Close</button>
  </div>
</div>