<div *ngIf="res">
  <div class="content-header">
    <h2 class="header-text">Terms And Conditions</h2>
  </div>
  <a>{{res.header}}</a>
  <mat-expansion-panel expanded="true" *ngFor="let item of res.headings">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{item.heading}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-grid-list cols="1">
      <a [innerHTML]="item.content"></a>
    </mat-grid-list>
  </mat-expansion-panel>
</div>