.content-img {
  height: 112px;
  width: 112px;
}

.content-name {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.content-provider {
  margin: 0;
}
.rating-container {
  display: flex;
}

.category-banner {
  width: 100%;
  margin: 5px 0px;
}