<div *ngIf="res">
    <div class="content-header">
        <img [src]="res.store.image">
        <h2 class="header-text">{{res.store.name}}</h2>
    </div>
    <div class="slides" *ngIf="res.items_carousel.length>0">
        <div class="slideshow-container">
            <div *ngFor="let item of res?.items_carousel; let i=index" class="mySlides fade" (click)="openItem(item)">
                <div class="numbertext">{{i+1}} / {{res?.items_carousel.length}}</div>
                <img class="image" [src]="item.image">
                <div class="text">{{item?.name}}</div>
                <div class="sub-text">{{item?.provider}}</div>
            </div>
            <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
            <a class="next" (click)="plusSlides(1)">&#10095;</a>
        </div>
        <br>
    </div>
    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <img class="title-icon" [src]="res.top?.image">
                {{res.top.name}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-grid-list cols="3" rowHeight="180px">
            <mat-grid-tile *ngFor="let item of res?.top?.items" (click)=openItem(item)>
                <img class="content-img" [src]="item.image">
                <h3 class="content-name">{{item.name}}</h3>
                <h5 class="content-provider">{{item.provider}}</h5>
                <div class="rating-container">
                    <star-rating [value]="item.rating" totalstars="5" checkedcolor="#d4af37" uncheckedcolor="grey"
                        size="14px" readonly="true"></star-rating>
                    <h6 style="margin: 0;">({{item.rating}})</h6>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-expansion-panel>
    <img class="category-banner" [src]="res.category_banner.banner" (click)="openCategory(res.category_banner)">
    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <img class="title-icon" [src]="res.new?.image">
                {{res.new.name}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-grid-list cols="3" rowHeight="180px">
            <mat-grid-tile *ngFor="let item of res?.new?.items" (click)=openItem(item)>
                <img class="content-img" [src]="item.image">
                <h3 class="content-name">{{item.name}}</h3>
                <h5 class="content-provider">{{item.provider}}</h5>
                <div class="rating-container">
                    <star-rating [value]="item.rating" totalstars="5" checkedcolor="#d4af37" uncheckedcolor="grey"
                        size="14px" readonly="true"></star-rating>
                    <h6 style="margin: 0;">({{item.rating}})</h6>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <img class="title-icon" [src]="res.most_rated?.image">
                {{res.most_rated.name}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-grid-list cols="3" rowHeight="180px">
            <mat-grid-tile *ngFor="let item of res?.most_rated?.items" (click)=openItem(item)>
                <img class="content-img" [src]="item.image">
                <h3 class="content-name">{{item.name}}</h3>
                <h5 class="content-provider">{{item.provider}}</h5>
                <div class="rating-container">
                    <star-rating [value]="item.rating" totalstars="5" checkedcolor="#d4af37" uncheckedcolor="grey"
                        size="14px" readonly="true"></star-rating>
                    <h6 style="margin: 0;">({{item.rating}})</h6>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-expansion-panel>

    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon class="title-icon">reorder</mat-icon>
                All Categories
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-grid-list cols="3" rowHeight="130px">
            <mat-grid-tile *ngFor="let item of res?.categories" (click)=openCategory(item)>
                <img class="content-img" [src]="item.image">
                <h3 class="content-name">{{item.name}}</h3>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-expansion-panel>
</div>