.content-img {
  height: 112px;
  width: 112px;
}

.item-container {
  padding: 8px;
  display: flex;
}

.item-img {
  height: 100%;
  width: 85px;
}

.rating-container {
  display: flex;
  align-items: center;
}

.download-button {
  height: fit-content;
  margin-right: 8px;
  color: white;
  background: cornflowerblue;
  border: none;
  padding: 8px;
  border-radius: 4px;
}

th {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #536572;
  width: 146px;
  display: block;
  float: left;
  text-align: left;
  margin-left: 10px;
}

td {
  line-height: 28px;
  margin-left: 32px;
  display: block;
  float: left;
  color: #455560;
  font-size: 15px;
  margin-top: -2px;
  font-family: Arial;
}
