<div *ngIf="res">
  <div class="content-header">
    <h2 class="header-text">My Account</h2>
  </div>
  <table>
    <tr>
      <th>Plans:</th>
      <td>{{res.inventory.plan}}</td>
    </tr>
    <tr>
      <th>Download Left:</th>
      <td>{{res.inventory.downloads}}</td>
    </tr>
  </table>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Downloaded Contents
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="filter-container">
      <h5>{{currentCount}}/{{res.count}}</h5>
      <div style="display: flex;">
        <h5>Sort By:</h5>
        <mat-select class="order-by-dropdown" [(value)]="order_by" (selectionChange)="onSortOrderChange($event)">
          <mat-option *ngFor="let item of utils.ACCOUNT_PAGE_ORDER_BY_KEYS" [value]="item.value">{{item.key}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="item-container" *ngFor="let item of res.results" (click)="openItem(item)">
      <img class="item-img " [src]="item?.image">
      <div class="cell-detail">
        <h4 class="cell-item-name">{{item?.name}}</h4>
        <div style="display: flex;justify-content: space-between;width: 100%;align-items: center;">
          <h5 style="margin: 0;">{{item?.provider}}</h5>
          <div class="rating-container">
            <star-rating [value]="item.rating" totalstars="5" checkedcolor="#d4af37" uncheckedcolor="grey" size="14px"
              readonly="true"></star-rating>
            <h6 style="margin: 0;">({{item.rating}})</h6>
          </div>
          <button class="download-button" (click)="downloadItem(item)">Download</button>
        </div>
        <button class="rating-button" (click)="rate(item)">Rate</button>
      </div>
    </div>
  </mat-expansion-panel>
  <div *ngIf="res.count>=1" class="page-number-container">
    <div class="pagination-button-container" (click)="previousPage()">
      <mat-icon class="pagination-button">keyboard_arrow_left</mat-icon>
    </div>
    <div class="page-number" [ngClass]="(i+1==currentPage)?'activePage':''"
      *ngFor="let item of [].constructor(total_pages); let i = index" (click)="openItemsForPageNumber(i)">
      {{i+1}}
    </div>
    <div class="pagination-button-container" (click)="nextPage()">
      <mat-icon class="pagination-button">keyboard_arrow_right</mat-icon>
    </div>
  </div>
</div>